body{
    background-image: url("/assets/images/logo.png") ;   
}

#titulo{
    font-family: myfont;
    color: rgb(124, 88, 129);
    background-image: url("/assets/images/folha.gif") ;
}

@font-face {
    font-family: myfont;
    src: url("/assets/images/Mella\ Nissa.ttf");
}